.pizza_list_container {
  padding: 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 40px;
  background-color: #fffdfde5;
}

.pizza_card_container {
  background-color: #fffefeb9;
  margin: 0 auto;
  width: 250px;
  height: 300px;
  text-align: center;
  border-radius: 10px;

  display: grid;
  justify-content: center;
  align-items: center;
  opacity: 0.9;

  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.pizza_card_container:hover {
  opacity: 1;
}

.pizza_card_container img {
  margin: 0 auto;
  height: 150px;
  width: 200px;
  border-radius: 10px;
}

.pizza_card_container button {
  text-decoration: none !important;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin: 0 5px;
}
