body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: darkslategrey;
  margin: 0;
}

.Header_wrapper {
  color: white;
  background-color: #666;
  text-align: center;
  font-size: 15px;
  padding: 0 3%;

  display: flex;
  justify-content: space-between;
}
