/* .cart_item_cantainer {
  border-radius: 5px;
  margin-bottom: 4%;
  font-size: 14px;
  height: 120px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: start;
}

.cart_item_cantainer img {
  border-radius: 10px;
  height: 100px;
  width: 100px;
}

.cart_item_cantainer input {
  width: 50px;
} */
